body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Merriweather', Georgia, serif;
  color: #333;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content {
  max-width: 90rem;
  margin: 0 auto;
  width: 100%;
}

.profile {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
  transition: transform 0.3s ease-in-out;
}

.profile h2 {
  font-size: 34px;
  margin: 15px 0 5px;
  color: #333;
}

.title {
  font-size: 18px;
  color: #777;
  margin-bottom: 20px;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.social-icon {
  font-size: 30px;
  color: #333;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-icon:hover {
  color: #007bff;
  transform: translateY(-5px);
}

footer {
  font-size: 16px;
  color: #777;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}

footer a {
  color: #007bff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
